body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
  font-weight: 400;
  background-color: $white-color;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: $font;
}

.button {
  display: inline-block;
  font-family: $font;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;

  &--accept {
    border-radius: 5px;
    border: 1px solid #0ea961;
    background: #0ea961;
    color: $white-color;
  }

  &--deny {
    border-radius: 5px;
    border: 1px solid #dc3545;
    background: #dc3545;
    color: $white-color;
    transition: 0.2s ease-in all;

    &:hover {
      background: #d42b3c;
      transition: 0.2s ease-in all;
    }
  }

  &--smaller {
    border-radius: 4px;
    padding: 5px 15px;
  }

  &--small {
    border-radius: 4px;
    padding: 10px 25px;
  }

  &--large {
    border-radius: 30px;
    padding: 15px 26px;
  }

  &--primary {
    background: $linear-color;
    color: $white-color;
    transition: 0.2s ease-in all;

    &:hover {
      background: $linear-color-light;
      transition: 0.2s ease-in all;
    }
  }

  &--gray {
    font-weight: 700;
    color: $white-color;
    transition: 0.2s ease-in all;
    background: var(--neumorphism-colour,
        radial-gradient(184.95% 38.56% at 50% 50%,
          #c4c4c4 0%,
          rgba(196, 196, 196, 0.62) 63.54%,
          rgba(196, 196, 196, 0.79) 100%));

    &:hover {
      background: var(--neumorphism-colour,
          radial-gradient(184.95% 38.56% at 50% 50%,
            #c4c4c4 0%,
            rgba(196, 196, 196, 0.62) 63.54%,
            rgba(196, 196, 196, 0.79) 100%));
      transition: 0.2s ease-in all;
    }
  }

  &--info {
    background: rgba(14, 165, 233, 0.9);
    color: $white-color;
  }

  &--danger {
    background: transparent;
    color: #f42323;
    border: 2px solid #f42323;
    border-radius: 8px;
    transition: 0.2s ease-in all;

    &:hover {
      background: #f42323;
      transition: 0.2s ease-in all;
      color: $white-color;
    }
  }

  &--danger--outline {
    background: #f42323;
    color: $white-color;
    border: 2px solid #f42323;
    border-radius: 8px;
    transition: 0.2s ease-in all;

    &:hover {
      background: #f42323;
      transition: 0.2s ease-in all;
      color: $white-color;
    }
  }


  &--outline {
    background-color: transparent;
    color: $primary-color;
    font-weight: 500;
    border: 1px solid $primary-color;
    transition: 0.2s ease-in all;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  &--rounded {
    border-radius: 10px;
    padding: 17px 65px;
  }

  &--shadow {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 90%;
      height: 100%;
      transform: translate(-50%, 50%);
      background-color: $primary-color;
      filter: blur(54px);
      border-radius: inherit;
    }
  }
}

.table-container {
  margin: 40px 30px 150px 30px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: var(--ffffff, #fff);
  box-shadow: 0px 14px 14px 0px rgba(20, 23, 38, 0.02);
}

.border-bottom {
  border-bottom: 2px solid #212121;
}

.border-top {
  border-top: 2px solid #212121;
}

.button-add {
  i {
    color: #13b97d;
  }

  background: transparent;
}

.bg-image {
  padding: 67.438px 45.547px 67.88px 46.36px;
  background: rgba(199, 199, 199, 0.25);
}

.icon-gray {
  color: #333333 !important;
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

.no-show {
  border-radius: 6px;
  background: #b3e5fc;
  color: #1a8fe3;
  padding: 5px;
}

.canceled {
  border-radius: 6px;
  background: rgba(255, 59, 59, 0.14);
  color: #ff3b3b;
  padding: 5px;
}

.fulfilled {
  border-radius: 6px;
  background: #c8e6c9;
  color: #0ea961;
  padding: 5px;
}

.pending {
  border-radius: 6px;
  background: #172f71;
  color: #fff;
  padding: 5px;
}

.proposed {
  border-radius: 6px;
  background: #c19db1;
  color: #8c044e;
  padding: 5px;
}

.practitioner-active {
  border-radius: 6px;
  background: var(--e-3-ebff, #E3EBFF);
  color: #0FB800;
  padding: 5px;
}

.practitioner-inactive {
  border-radius: 6px;
  background: var(--e-3-ebff, #E3EBFF);
  color: #FFC83B;
  padding: 5px;
}

.box {
  border-radius: 20px;
  border: 2px solid #ECEEF6;
  background: #FFF;
  box-shadow: 0px 4px 20px 5px rgba(220, 224, 249, 0.20);
}

.color-primary {
  color: $primary-color;
}

.spinner-border {
  --bs-spinner-width: 1rem !important;
  --bs-spinner-height: 1rem !important;
}

.custom-otp-input {
  width: 95px !important;
  height: 80px !important;
  margin: 0 5px;
  font-size: 18px;
  border: 2px solid $primary-color;
  border-radius: 5px;
  text-align: center;
}